body {
    background: url(grass.jpg);
    background-repeat: no-repeat;
    background-size: cover;    
  }
   
.team-heading {
    background-color:#2C5F2D;
    color: #ffffff;
    border-bottom-color: #97BC62FF;
    border-bottom-style: solid;
}

.card-body {
    background-color: #2C5F2D;
    color: black;
}

.employee-card {
    margin: 20px;
    background-color: #97BC62FF;
    color: #ffffff;
}